.userObject{
  margin-top: 150px ;
  background: url('../../../public/image/user_object.png' ) center center no-repeat;
  height:450px;
  position: relative;
  font-family: "Nunito", sans-serif;
}
.title {
  text-align: center;
  font-size: 50px;
  color: black;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 70px;
  padding-top: 40px;
}
.title::after {
  display: block;
  height: 5px;
  background-color: #1eac52;
  content: "";
  text-align: center;
  width: 30%;
  margin: 0 auto;
  margin-top: 10px;
}
.imageLine{
  position:absolute;
  top: 0;
  left: 0;
}
.imageLine1{
  position:absolute;
  bottom: 0;
  left: 0;
  transform: rotate(180deg);
  
}
.content h4{
  font-weight: bold;
}
.content{
  margin-left: 30px;
}
.content p{
  font-size: 18px;
}
.iconRectangle{
  position:absolute;
  top: -30%;
  right: 10%;
}
.iconPlus{
  position:absolute;
  top: -15%;
  left: 5%;
  animation: rotateIn 10s linear infinite;
}

@keyframes rotateIn {
  0% {
    
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1turn);
  }
}

@media screen and (max-width: 992px){
  .title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
  }
  .iconRectangle{
    position:absolute;
    top: -30%;
    right: 0%;
  }
  .iconPlus{
    position:absolute;
    top: -5%;
    left: 5%;
    animation: rotateIn 10s linear infinite;
  }
  
}