/* @import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Ephesis&display=swap"); */
.infoProduct {
  font-family: "Nunito";
  margin-top: 150px;
}
.imageProduct1 {
  border-radius: 30px;
  border: 2px solid #0297d0 !important;
}
.imageProduct1 img{
  border-radius: 30px;
}

.iconLogo {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.title {
  font-family: "Ephesis";
  font-size: 60px;
  color: #383b6d;
  font-weight: bolder;
  margin-bottom: 30px;
}
.btn {
  background-image: linear-gradient(to right, #11af2b, #85b740);
  color: #fff;
  padding: 10px 30px;
  outline: none;
  transition: all 2s;
}
.btn:hover {
  color: #fff;
  background-image: linear-gradient(to left, #11af2b, #6ba31c);
}

.infoText{
  font-size: 17px;
  line-height:35px;
}

.saleProduct{
  border: 2px dashed #1eac52;
  border-radius: 7px;
  text-align: center;
  padding:10px;
  margin:15px 0;

}
.saleProduct .saleInfo{
  font-family: "Nunito";
    margin-bottom:0px;
    font-size:20px;
    font-weight: bold;
  
}
.saleProduct .discount{
  font-family: "Ephesis";
    font-size:30px;
    font-weight: bold;
    color:#1eac52
  
}

.listedPrice{
  font-family: "Nunito";
  margin-bottom:0px;
  margin:0 7px;
  font-size: 22px;
  color: gray;font-weight: bolder;
  text-decoration: line-through;
}

.promotionalPrice{
  font-family: "Nunito";
  margin-bottom:0px;
  font-size: 30px;
  color: #1eac52;font-weight: bolder;
}

/* reponsive */
@media screen and (max-width: 992px) {
  .infoProduct {
    font-family: "Nunito";
    margin-top: 90px;
  }
  .title {
    font-family: "Ephesis";
    font-size: 35px;
    color: #383b6d;
    font-weight: bolder;
    margin-bottom: 30px;
  }
}
