//
// Override global variables
//

// Theme colors
$primary: #1eac52;
$primary-hover: #0bb7af;
$primary-light: rgba(30, 172, 82, 0.3);
$primary-inverse: #ffffff;

$info: #00cfe8;
$info-light: #e1e9ff;
$info-hover: #4a7dff;
$info-inverse: #ffffff;

$success: #28c76f;
$success-hover: #187de4;
$success-light: #e1f0ff;
$success-inverse: #ffffff;
