.title {
  text-align: center;
  font-size: 50px;
  color: black;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
  width: 50%;
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: 70px;
}
.title::after {
  display: block;
  height: 5px;
  background-color: #1eac52;
  content: "";
  text-align: center;
  width: 22%;
  margin: 0 auto;
  margin-top: 10px;
}

@media screen and (max-width: 992px) {
  .title {
    text-align: center;
    font-size: 30px;
    color: black;
    font-weight: bold;
    font-family: "Nunito", sans-serif;
    width: 50%;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 70px;
  }
}