.title {
  text-align: center;
  font-size: 50px;
  color: black;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
  width: 50%;
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: 70px;
}
.title::after {
  display: block;
  height: 5px;
  background-color: #1eac52;
  content: "";
  text-align: center;
  width: 22%;
  margin: 0 auto;
  margin-top: 10px;
}
.card-media-wrapper {
  display: none;
}

.composition {
  position: relative;
}
.composition__photo--p1 {
  position: absolute;
  top: 0 !important;
  left: 0 !important;
}
.composition__photo--p2 {
  position: absolute;
  top: 0 !important;
  right: 0 !important;
}
/* .composition__photo--p3 {
  position: absolute;
  top: 0 !important;
  left: 20px !important;
} */
