html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.carousel-wrapper .rec-pagination button {
  background: #c8c8c8;
  /* box-shadow: 0 0 1px 3px #235f9e; */
}
.carousel-wrapper .rec-carousel-wrapper button:hover {
  background-color: #235f9e;
}

.effect .rec-pagination button {
  box-shadow: none;
  border: 2px solid white;
}
.effect .rec-pagination button.rec-dot_active {
  box-shadow: none;
  border: 2px solid #235f9e;
  background-color: #235f9e;
}

.effect .rec-carousel-wrapper button:hover {
  background-color: #235f9e;
  color: white;
}
.effect .rec-carousel-wrapper button {
  background-color: #eee;
}

.timeline-item-title {
  margin-bottom: 30px;
}
/* .card-media-wrapper {
  display: none;
} */
/* .MediaDetailsWrapper {
  display: none;
} */
/* .css-d0st9p-CardImage {
  max-height: 120% !important;
} */

.css-d0st9p-CardImage {
  margin: 10px 0;
  object-fit: cover !important;
  min-width: 60% !important;
  min-height: 220px !important;
  border-radius: 7px;
}
.css-3i23bs-TimelineMainWrapper {
  height: 100vh !important;
}

.css-14uf6p-TimelineItemContentWrapper {
  min-height: 150px !important;
}
.css-ouzaa4-TimelineContentDetailsWrapper.show-less {
  max-height: 100% !important;
}
.css-oq6549-TimelineSubContent {
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 20px !important;
}
.css-oq6549-TimelineSubContent::before {
  content: "*";
  font-weight: bold;
  font-size: 18px;
  margin-right: 20px;
}
.css-q6vr8b-TimelineContentDetails {
  margin-top: 30px !important;
}
.css-1f02b8t-TitleWrapper.active {
  background: #ffdf00;
  color: #0f52ba;
  font-size: 40px;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  border-radius: 7px;
}
.timeline-item-title {
  font-size: 30px !important;
}
.timeline-card-content {
  border: 2px solid #0f52ba;
}
.show-more {
  display: none !important;
}

.css-mpnodf-TimelineTitleWrapper {
  width: 7% !important;
}
.css-1v979f3-TimelineMainWrapper,
.horizontal.timeline-main-wrapper {
  left: 17% !important;
}

@media screen and (max-width: 992px) {
  .timeline-item-title {
    font-size: 15px !important;
  }
  .css-mpnodf-TimelineTitleWrapper {
    width: 10% !important;
  }
}
@media screen and (max-width: 768px) {
  .css-mpnodf-TimelineTitleWrapper {
    width: 15% !important;
  }
}

.css-5hfxmm.show-less.card-descriptio {
  max-height: 500px !important;
}
