.bgStories {
  background-color: #f4faf4;
  padding: 60px 0;
}

.title {
  text-align: center;
  font-size: 50px;
  color: black;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
  width: 50%;
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: 70px;
}
.title::after {
  display: block;
  height: 5px;
  background-color: #1eac52;
  content: "";
  text-align: center;
  width: 25%;
  margin: 0 auto;
  margin-top: 10px;
}
.text {
  text-align: center;
  font-size: 18px;
}
.storiesTop {
  background-color: #f4faf4;
}
.storiesBottom {
  transform: rotate(180deg);
  background-color: #f4faf4;
}
