.title {
  text-align: center;
  font-size: 50px;
  /* margin-bottom: 60px; */
  color: black;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
  /* font-style: italic; */
  /* background-color: red; */
  width: 50%;
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: 70px;
}
.title::after {
  display: block;
  height: 5px;
  background-color: #1eac52;
  content: "";
  text-align: center;
  width: 17%;
  margin: 0 auto;
  margin-top: 10px;
}
.content {
  margin-top: 20px;
  font-size: 17px;
  text-align: center;
  font-weight: 600;
}
.img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
